{% extends 'base.html' %}
{% block title %}{{ quiz }} - Quiz opinions{% endblock %}

{% load time %}
{% load static %}

{% block content %}

{% include 'quizes/partials/_nav_detail_quiz.html' %}
<div class="bg-light p-3 shadow">
    {% include 'quizes/partials/_quiz_name.html' %}

    <div class="card border-primary">
        <div class="bg-primary text-white p-2 ">
            <caption style="font-size: 24px;">
                <i class="fas fa-globe-americas"></i>
                Your quiz opinions
            </caption>
        </div>
        {% if quiz.is_opinions == 'True' %}
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <form action="{% url 'quizes:opinion-add' quiz.id %}" method="post" id="add-opinion-form"> {% csrf_token %}
                        <div class="form-group">
                            <label for="opinion-content">Opinion:</label>
                            <p class="float-right" id="char-left">0/10000</p>
                            <textarea name="opinion-content" class="form-control" id="opinion-content" rows="4" maxlength="10000" required></textarea>
                            <button class="btn btn-outline-success mt-2" id="add-opinion-btn" disabled>Add comment</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="font-weight-normal">Opinions</h3>
                    <p id="opinion_count">{{ quiz.opinions.count }} opinion{{ quiz.opinions.count|pluralize }}</p>
                </div>
                <div class="card-body" id="opinions">
                    {% if opinions %}
                        {% for opinion in opinions %}
                            <article class="bg-light m-4 position-relative shadow-sm p-3">
                                <header class="text-muted" style="font-size: 14px;">
                                    <a href="{% url 'users:profile' quiz.author.slug 1 %}" class="text-muted">
                                        <span>
                                            <img src="{{ opinion.author.image_url }}" width="35" height="35" class="rounded-circle mr-2" alt="">
                                        </span>
                                        <span class="font-weight-bold">{{ opinion.author }}</span>
                                    </a>
                                    &bull;
                                    <span>Added {% get_time_difference opinion.pub_date %}</span>
                                </header>
                                <section class="mt-2">
                                    <p>{{ opinion }}</p>
                                </section>
                                <footer>
                                    <div class="main">
                                        <img src="{% if user in opinion.likes.all %}{% static 'images/likes/liked.png' %}{% else %}{% static 'images/likes/like.png' %}{% endif %}" width="18" class="like-btn" alt="" data-url="{% url 'quizes:opinion-like' quiz.id opinion.id %}">
                                        <span id="likes-{{ opinion.id }}">
                                            {{ opinion.likes.count }}
                                        </span>
                                        <button class="btn btn-link ml-4 text-muted reply-btn" data-reply-url="{% url 'quizes:opinion-add-reply' quiz.id opinion.id %}">Reply</button>
                                    </div>
                                    <div class="row replies">
                                        {% if opinion.replies.all %}
                                            <button class="btn btn-link read-replies" data-url="{% url 'quizes:opinion-get-replies' quiz.id opinion.id %}">Read {{ opinion.replies.count }} repl{% if opinion.replies.count|pluralize %}ies{% else %}y{% endif %}</button>
                                        {% endif %}
                                    </div>
                                </footer>
                            </article>
                        {% endfor %}
                    {% else %}
                        <h2 class="text-center" id="no-opinions-text">There's no opinion yet</h2>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-success m-3" role="alert">
                <h4 class="alert-heading">This quiz has turn off opinions</h4>
                <p>If you want to change that option <a href="{% url 'quizes:quiz-edit-privacy' quiz.id %}" class="alert-link">click here</a>.</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    $(document).ready(function() {
        function like_func() {
            $('.like-btn').each(function() {
                const $like_btn = $(this)
                $like_btn.on('click', function(e) {
                    e.preventDefault()

                    const $like_btn_url = $like_btn.attr('data-url')
                    $.ajax({
                        method: 'GET',
                        url: $like_btn_url,
                        success: function(data) {
                            const $likes = $('#likes-' + data['opinion_id'])
                            if(data['image'] == 'like') {
                                $like_btn.attr('src', "{% static 'images/likes/like.png' %}")
                                $likes.html(parseInt($likes.text()) - 1)
                            } else {
                                $like_btn.attr('src', "{% static 'images/likes/liked.png' %}")
                                $likes.html(parseInt($likes.text()) + 1)
                            }
                        }
                    })
                })
            })
        }
        like_func()


        // reply btns
        function reply_opinion_func() {
            $('.reply-btn').each(function() {
                const this_ = $(this)

                this_.click(function(e) {
                    e.preventDefault()
                    const $reply_url = this_.attr('data-reply-url')

                    function add_reply_btn(element) {
                        element.closest('div[class*="main"]').append(`
                            <button class="btn btn-link ml-4 text-muted reply-btn" data-reply-url="${$reply_url}">Reply</button>
                        `)
                        element.closest('form').remove()
                        reply_opinion_func()
                    }

                    // append reply form
                    this_.parent().append(`
                        <form method="POST" class="mt-3 reply-opinion-form"> {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <textarea name="reply-content" id="reply-content" cols="100" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-danger cancel-reply-btn px-3 btn-sm">Cancel</button>
                                    <button class="btn btn-outline-success px-3 btn-sm">Submit</button>
                                </div>
                            </div>
                        </form>
                    `)
                    this_.remove()

                    // reply ajax function
                    $('.reply-opinion-form').each(function() {
                        const this_ = $(this)
                        this_.submit(function(e) {
                            e.preventDefault()

                            const $form_data = this_.serialize()
                            $.ajax({
                                method: 'POST',
                                url: $reply_url,
                                dataType: 'json',
                                data: $form_data,
                                success: function(data) {
                                    this_.parent().parent().children().closest('.replies').prepend(`
                                        <article class="bg-light m-4 position-relative shadow p-3 w-100 reply">
                                            <header class="text-muted" style="font-size: 14px;">
                                                <a href="#" class="text-muted">
                                                    <span>
                                                        <img src="{{ user.image_url }}" width="35" height="35" class="rounded-circle mr-2" alt="">
                                                    </span>
                                                    <span class="font-weight-bold">{{ user }}</span>
                                                </a>
                                                &bull;
                                                <span>Added just at the moment</span>
                                            </header>
                                            <section class="mt-2">
                                                <p>${data['content']}</p>
                                            </section>
                                        </article>
                                    `)
                                    add_reply_btn(this_)
                                }
                            })
                        })
                    })

                    $('.cancel-reply-btn').each(function() {
                        const this_ = $(this)
                        this_.click(function(e) {
                            e.preventDefault()
                            add_reply_btn(this_)
                        })
                    })
                })

                function read_replies() {
                    $('.read-replies').each(function() {
                        const this_ = $(this)
                        this_.click(function(e) {
                            e.preventDefault()

                            $.ajax({
                                method: 'GET',
                                url: this_.attr('data-url'),
                                dataType: 'json',
                                success: function(data) {
                                    replies = data['replies']

                                    // Show replies
                                    for(let i=0; i<replies.length; i++) {
                                        this_.parent().append(`
                                            <article class="bg-light m-4 position-relative shadow p-3 w-100 reply">
                                                <header class="text-muted" style="font-size: 14px;">
                                                    <a href="#" class="text-muted">
                                                        <span>
                                                            <img src="${replies[i][3]}" width="35" height="35" class="rounded-circle mr-2" alt="">
                                                        </span>
                                                        <span class="font-weight-bold">${replies[i][2]}</span>
                                                    </a>
                                                    &bull;
                                                    <span>Added ${data['get_time_difference_' + replies[i][0]]}</span>
                                                </header>
                                                <section class="mt-2">
                                                    <p>${replies[i][1]}</p>
                                                </section>
                                            </article>
                                        `)
                                    }

                                    // btn - hide replies - and it's fucntions
                                    this_.parent().append(`
                                        <button class="btn btn-link hide-replies">Show less</button>
                                    `)

                                    $('.hide-replies').each(function() {
                                        const btn_parent = $(this).parent()
                                        $(this).click(function(e) {
                                            e.preventDefault()

                                            btn_parent.empty()
                                            btn_parent.append(`
                                                <button class="btn btn-link read-replies" data-url="${data['get_replies_url']}">Read ${data['replies_count']} replies</button>
                                            `)
                                            read_replies()
                                        }) 
                                    })

                                    this_.remove()
                                }
                            })
                        })
                    })
                }
                read_replies()
            })
        }
        reply_opinion_func()


        // opinion form button - disbled funcion
        const $opinion_content = $('#opinion-content')
        $opinion_content.on('keyup', function() {
            $('#char-left').html(`${$opinion_content.val().length}/10000`)
            const $add_opinion_btn = $('#add-opinion-btn')
            if($.trim($opinion_content.val())) {
                $add_opinion_btn.removeAttr('disabled')
            } else {
                $add_opinion_btn.prop('disabled', true)
            }
        })

        // Add opinion function
        const $myForm = $('#add-opinion-form')
        $myForm.submit(function(e) {
            e.preventDefault()
            const $form_data = $(this).serialize()
            $.ajax({
                method: "POST",
                url: "{% url 'quizes:opinion-add' quiz.id %}",
                dataType: "json",
                data: $form_data,
                success: function(data) {
                    $myForm[0].reset()
                    $('#no-opinions-text').remove()

                    $('#opinions').prepend(`
                        <article class="bg-light m-4 position-relative shadow-sm p-3">
                            <header class="text-muted" style="font-size: 14px;">
                                <a href="#" class="text-muted">
                                    <span>
                                        <img src="${data['author_image_url']}" width="35" height="35" class="rounded-circle mr-2" alt="">
                                    </span>
                                    <span class="font-weight-bold">${data['author']}</span>
                                </a>
                                &bull;
                                <span>Added just at the moment</span>
                            </header>
                            <section class="mt-2">
                                <p>${data['content']}</p>
                            </section>
                            <footer>
                                <div class="main">
                                    <img src="{% static 'images/likes/like.png' %}" width="18" class="like-btn" alt="" data-url="${data['like_opinion_url']}">
                                    <span id="likes-${data['opinion_id']}">
                                        0
                                    </span>
                                    <button class="btn btn-link ml-4 text-muted reply-btn" data-reply-url="${data['reply_opinion_url']}">Reply</button>
                                </div>
                                <div class="row"></div>
                            </footer>
                        </article>
                    `)
                    reply_opinion_func();
                    like_func();
                },
            })
        })
    })
</script>

{% endblock %}